.card {
  max-width: 413px;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border: none;
  border-radius: 2%;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0;
}

.card__title {
  margin: 0;
  font-family: poppins, arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.card__button {
  background-image: url(../images/like_icon.png);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 0;
  padding: 0;
}

.card__button:hover {
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 657px) {
  .card {
    max-width: 318px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__button {
    height: 18px;
    width: 20px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
