.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close_Icon.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
}

.modal__input {
  margin: 0;
  max-width: 630px;
  padding: 16px 12px;
  font-size: 20px;
  font-weight: 500;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
}

@media screen and (max-width: 657px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    max-width: 276px;
    width: 100%;
  }
}
