.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-Icon.jpg);
  opacity: 40%;
  border: none;
  padding: 0;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 4px 0 36px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
}

.modal__input {
  margin: 0;
  max-width: 630px;
  padding: 16px 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px rgb(33, 33, 33, 0.4) solid;
  gap: 10px;
}

.modal__input:hover {
  border: 1px rgb(33, 33, 33) solid;
  cursor: pointer;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 657px) {
  .modal__container {
    padding: 12px;
    display: flex;
    flex-direction: column;
  }

  .modal__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 24px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
