.card {
  max-width: 413px;
  margin: 0;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border: none;
  border-radius: 2%;
}

.card__delete-button {
  background-image: url(../images/trashCan.svg);
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 50%;
}

.card__delete-button:hover {
  background-image: url(../images/trashCan.svg);
  background-color: #ff6565;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0;
}

.card__title {
  margin: 0;
  font-family: poppins, arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.card__button {
  background-image: url(../images/like_button.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__button_liked {
  background-image: url(../images/likeButtonLiked.png);
  opacity: 100%;
  background-color: transparent;
}

.card__button_liked:hover {
  background-image: url(../images/likeButtonLikedHover.svg);
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 657px) {
  .card {
    max-width: 318px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__button {
    height: 18px;
    width: 20px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
