.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.footer__title {
  color: #212121;
  font-family: poppins, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  margin: 0;
}
