.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
  margin: 0 auto;
  max-width: 1280px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__bio {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 420px;
}

.profile__title {
  margin: 0 0 12px;
  padding: 0;
  font-family: poppins, arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__subtitle {
  padding: 0;
  margin: 0;
  font-family: poppins, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  color: #212121;
  background-color: transparent;
  opacity: 70%;
  padding: 0;
  border: none;
  height: 16px;
  max-width: 107px;
  font-family: poppins, arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__post-button {
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  height: 52px;
  width: 157px;
  font-family: poppins, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.profile__post-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 657px) {
  .profile {
    flex-direction: column;
    max-width: 382px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__title {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 657px;
  }

  .profile__subtitle {
    margin-bottom: 32px;
    max-width: 657px;
  }

  .profile__edit-button {
    margin: 0 auto;
  }

  .profile__post-button {
    margin: 20px 0 0;
    width: 100%;
  }
}
